/*** 

====================================================================
    Feature Block
====================================================================

***/
.award-section {
  position: relative;
  padding: 120px 0;
  background-color: #0B0B0B;
  @include media-breakpoint-down(lg){
    padding: 80px 0;
  }
  .bg-shape {
    position: absolute;
    right: 70px;
    top: 70px;
    pointer-events: none;
  }
}
.award-activity-items {
  position: relative;
  border-bottom: 1px solid rgba(var(--theme-color-white-rgb), .12);
  padding: 53px 0 0 0;
  &:hover {
    .award-text{
      color: var(--theme-color-white);
    }
  }
  .award-text {
    color: rgba(var(--theme-color-white-rgb), .7);
    font-weight: 400;
    @include transition(all 300ms ease);
    @include media-breakpoint-down(lg){
      font-size: 24px;
    }
  }
  .hover-image {
    width: 288px;
    height: 429px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(15deg);
    inset-inline-start: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 75%;
    opacity: 0;
    transition: opacity .3s, transform .7s cubic-bezier(0.23, 1, 0.32, 1);
    margin: -200px 0 0 -50px;
    overflow: hidden;
    pointer-events: none;
    z-index: 999;
    visibility: hidden;
  }
  &:hover {
    .hover-image {
      opacity: 1;
      visibility: visible;
    }
  }
}


.award-section-2 {
  position: relative;
  padding: 120px 0;
  @include media-breakpoint-down(lg){
    padding: 80px 0;
  }
  .shape1 {
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 50px;
    @include media-breakpoint-down(lg){
      display: none;
    }
  }
  .outer-box {
    position: relative;
    max-width: 1372px;
    margin: 0 auto;
  }
  .sec-title-box {
    display: block;
    margin-bottom: 47px;
    .sec-title2 {
      display: flex;
      align-items: end;
      gap: 15px;
      border-bottom: 1px solid #242425;
      width: 100%;
      padding-bottom: 44px;
      margin-bottom: 52px;
      @include media-breakpoint-down(lg){
        flex-direction: column;
        align-items: start;
        padding-bottom: 20px;
        margin-bottom: 30px;
      }
      .title {
        font-size: 120px;
        line-height: 120px;
        margin-bottom: 0;
        @include media-breakpoint-down(lg){
          font-size: 80px;
          line-height: 80px;
        }
        @include media-breakpoint-down(md){
          font-size: 60px;
          line-height: 60px;
        }
        @include media-breakpoint-down(sm){
          font-size: 40px;
          line-height: 40px;
        }
      }
      .text2 {
        font-size: 24px;
        position: relative;
        top: -10px;
      }
    }
  }
}
.award-block-wrapper-2 {
  .award-block-item-2 {
    border-top: 1px solid rgba(var(--theme-color-white-rgb), 0.1);
    padding: 29.5px 40px;
    position: relative;
    &:last-child {
      border-bottom: 1px solid rgba(var(--theme-color-white-rgb), 0.1);
    }
     @include media-breakpoint-down (md){
     padding: 30px;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(90deg, #FF7903 0%, #F55CAD 65.38%, #716CEE 100%);
      transform: scale(1, 0);
      transition: transform 500ms 
  ease;
      transform-origin: bottom center;
    }

    .award-text {
      color: var(--theme-color-white);
      margin-bottom: 0;
      position: relative;
    }
    .award-icon {
      width: 40px;
      height: 40px;
      line-height: 35px;
      text-align: center;
      border-radius: 50%;
      border: 1px solid rgba(var(--theme-color-white-rgb), 0.1);
      position: relative;
      margin: 0 0 0 auto;
      @include transition(all 300ms ease);
      i,img {
        color: var(--theme-color-white);
        font-size: 16px;
        line-height: 1;
        @include transition(all 300ms ease);
      }
    }

    .hover-image {
    width: 170px;
    height: 253px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(15deg);
    inset-inline-start: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 75%;
    opacity: 0;
    transition: opacity .3s, transform .7s cubic-bezier(0.23, 1, 0.32, 1);
    margin: -200px 0 0 -50px;
    overflow: hidden;
    pointer-events: none;
    z-index: 999;
    visibility: hidden;
  }
  &:hover {
    &::before {
      transform: scale(1, 1);
      transform-origin: top center;
    }
    .award-icon {
      transform: rotate(-45deg);
      background-color: var(--theme-color-white);
      i,img {
        filter: brightness(1) invert(1);
        color: var(--theme-color-dark);
      }
    }

    .hover-image {
      opacity: 1;
      visibility: visible;
    }
  }
  }
}


.award-block-wrapper-5 {
  .award-block-item-5 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    padding: 35px 40px;
    position: relative;

     @include media-breakpoint-down (md){
     padding: 30px;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(90deg, #FF7903 0%, #F55CAD 65.38%, #716CEE 100%);
      transform: scale(1, 0);
      transition: transform 500ms 
  ease;
      transform-origin: bottom center;
    }

    .award-text {
      font-weight: 500;
      font-size: 24px;
      color: #8B8B8B;
      font-family: var(--heading-font-family);
      margin-bottom: 0;

       @include media-breakpoint-down (lg){
          font-size: 20px;
      }
    }

    .hover-image {
    width: 288px;
    height: 429px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(15deg);
    inset-inline-start: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 75%;
    opacity: 0;
    transition: opacity .3s, transform .7s cubic-bezier(0.23, 1, 0.32, 1);
    margin: -200px 0 0 -50px;
    overflow: hidden;
    pointer-events: none;
    z-index: 999;
    visibility: hidden;
  }

  .text-right {
    @include media-breakpoint-down (xl){
      text-align: initial !important;
    }
  }
  &:hover {
    &::before {
      transform: scale(1, 1);
      transform-origin: top center;
    }

    .award-text {
      color: var(--theme-color-white);
    }

    .hover-image {
      opacity: 1;
      visibility: visible;
    }
  }
  }
}



.achievements-block-area-6 {
  position: relative;
  padding: 3px;
  overflow: hidden;

      @keyframes rotate {
      0% {
        --gradient-angle: 0deg;
      }
      100% {
        --gradient-angle: 360deg;
      }
  }
  &::before,&::after {
    content: "";
      position: absolute;
      z-index: -1;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: conic-gradient(from var(--gradient-angle), #FF7903, #F55CAD, #716CEE, #F55CAD, #716CEE);
      border-radius: inherit;
        -webkit-animation: rotate 2.5s 
    linear infinite;
        animation: rotate 2.5s 
    linear infinite;
        -webkit-transition: all 300ms 
    ease;
        transition: all 300ms 
    ease;
    opacity: 0;
    visibility: hidden;
  }

  .achievements-block-6 {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 40px;
    position: relative;
    z-index: 1;
    background-color: #000002;

    @include media-breakpoint-down (xl){
      padding: 32px;
    }

     @include media-breakpoint-down (md){
      padding: 30px;
    }

    .count-box {
      .title {
        font-size: 100px;
        font-weight: 500;
        line-height: 1;
        color: rgba(255, 255, 255, 0.2);
        transition: all .4s ease-in-out;

         @include media-breakpoint-down (md){
          font-size: 60px;
        }
      }
    }

    .content {
      margin-top: 150px;

      p {
        margin-bottom: 0;
      }
    }
  }

  &:hover {
    &::before,&::after {
      opacity: 1;
      visibility: visible;
     }

     .achievements-block-6 {
       .count-box {
        .title {
          color: var(--theme-color-white);
        }
       }
     }
  }
}